
body {
  font-size: 28px;
background-image:url(backimage.gif); 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(70, 13, 70)	;
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  border-radius: 30px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  border-radius: 30px;
}

li a:hover {
  background-color: #111;
}

.active {
  background: linear-gradient(to right,#f8d537 ,#078080);
}
.centered {
  padding-left: 130px;
  padding-right: 130px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: linear-gradient(to left, rgb(70, 13, 70) ,#078080);
  background-position: fixed;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
}
.top {
  padding-left: 130px;
  padding-right: 160px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: linear-gradient(to left, rgb(70, 13, 70) ,#078080);
  background-position: fixed;
  position: absolute;
  top: 185%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
}
.ukg{
  padding-left: 130px;
  padding-right: 160px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: linear-gradient(to left, rgb(70, 13, 70) ,#078080);
  background-position: fixed;
  position: absolute;
  top: 265%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
}
.first{
padding-left: 130px;
padding-right: 160px;
padding-top: 20px;
padding-bottom: 20px;
background: linear-gradient(to left, rgb(70, 13, 70) ,#078080);
background-position: fixed;
position: absolute;
top: 340%;
left: 50%;
transform: translate(-50%, -50%);
border-radius: 30px;
}
.second{
  padding-left: 130px;
  padding-right: 160px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: linear-gradient(to left, rgb(70, 13, 70) ,#078080);
  background-position: fixed;
  position: absolute;
  top: 415%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  }
  .third{
    padding-left: 130px;
    padding-right: 160px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(to left, rgb(70, 13, 70) ,#078080);
    background-position: fixed;
    position: absolute;
    top: 490%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    }
    .fourth{
      padding-left: 130px;
      padding-right: 160px;
      padding-top: 20px;
      padding-bottom: 20px;
      background: linear-gradient(to left, rgb(70, 13, 70) ,#078080);
          background-position: fixed;
      position: absolute;
      top: 570%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 30px;
      }
      .fivth{
        padding-left: 130px;
        padding-right: 160px;
        padding-top: 20px;
        padding-bottom: 20px;
        background: linear-gradient(to left, rgb(70, 13, 70) ,#078080);
              background-position: fixed;
        position: absolute;
        top: 645%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 30px;
      }
      .sixth{
        padding-left: 130px;
        padding-right: 160px;
        padding-top: 20px;
        padding-bottom: 20px;
        background: linear-gradient(to left, rgb(70, 13, 70) ,#078080);
              background-position: fixed;
        position: absolute;
        top: 725%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 30px;
      }
      .seventh{
        padding-left: 130px;
        padding-right: 160px;
        padding-top: 20px;
        padding-bottom: 20px;
        background: linear-gradient(to left, rgb(70, 13, 70) ,#078080);
              background-position: fixed;
        position: absolute;
        top: 800%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 30px;
      }
      .eigth{
        padding-left: 130px;
        padding-right: 160px;
        padding-top: 20px;
        padding-bottom: 20px;
        background: linear-gradient(to left, rgb(70, 13, 70) ,#078080);
              background-position: fixed;
        position: absolute;
        top: 880%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 30px;
      }
      .ninth{
        padding-left: 130px;
        padding-right: 160px;
        padding-top: 20px;
        padding-bottom: 20px;
        background: linear-gradient(to left, rgb(70, 13, 70) ,#078080);
              background-position: fixed;
        position: absolute;
        top: 955%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 30px;
      }
      .tenth{
        padding-left: 130px;
        padding-right: 160px;
        padding-top: 20px;
        padding-bottom: 20px;
         background-image:url("backimage.gif"); 
         background-position: fixed;
        position: absolute;
        top: 1035%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 30px;
      }
      .eleventh{
        padding-left: 130px;
        padding-right: 160px;
        padding-top: 20px;
        padding-bottom: 20px;
        background: linear-gradient(to left, rgb(70, 13, 70) ,#078080);
              background-position: fixed;
        position: absolute;
        top: 1110%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 30px;
      }
      .twelvth{
        padding-left: 130px;
        padding-right: 160px;
        padding-top: 20px;
        padding-bottom: 20px;
        background: linear-gradient(to left, rgb(70, 13, 70) ,#078080);
              background-position: fixed;
        position: absolute;
        top: 1190%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 30px;
      }


